:root {
    // colors

    --primary: rgb(20, 40, 222);
    --primary-light: rgb(222, 222, 229);
    --primary-middle: rgb(58, 65, 131);
    --primary-dark: rgb(6, 10, 53);
    --secondary: rgb(228, 184, 7);
    --secondary-light: rgb(231, 228, 216);
    --danger: rgb(255, 0, 0);
    --success: rgb(53, 196, 13);
}