@use "variables" as *;
@use 'reset';
@use 'bases';
@use 'cards';
@use 'buttons' as *;
@use 'forms' as *;
@use 'utilities' as *;
@use 'media-queries' as *;

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .hint {
        text-align: center;
    }

    .information {
        border: 1px solid var(--secondary-light);
        color: var(--secondary-light);
        width: auto;
        padding: 1rem;
    }

    .return__play {
        color: var(--primary-light);
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: var(--secondary);
        }
    }

}