@use "variables" as *;
@use 'reset';
@use 'bases';
@use 'cards';
@use 'buttons' as *;
@use 'forms' as *;
@use 'utilities' as *;
@use 'media-queries' as *;

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}